@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    font-family: Assistant;
    margin: 0;
    padding: 0;
}

:root {
    --input-fill-color: #f6f6f6;
    --input-border-color: #0F5380;
    --button-color: #0F5380;
    --label-color: #2C2C2C;
}

.bold {
    font-weight: bold;
}

.header-container {
    background-position: center;
    background-size: cover;
}

.header-container>* {
    color: #fff;
}

.form-label {
    color: var(--label-color);
}

.form-input {
    background-color: var(--input-fill-color);
    border: none;
    border-bottom: 4px solid var(--input-border-color);
    margin-bottom: 2ex;
    color: var(--label-color);
    font-size: 1.2rem;
}

.form-button {
    border: none;
    background-color: var(--button-color);
    color: #fff;
    font-size: 1.375rem;
}

.form-button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 865px) {
    .header-container {
        background-image: url(./assets/Path\ 15.png);
        width: max(40ch, 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-height: max-content;
        padding-bottom: min(10vw, 125px);
    }

    .main-header {
        font-size: clamp(3.8rem, 15vw, 5.375rem)
    }

    .sub-header {
        padding-top: 0.5rem;
        max-width: 70%;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
    }

    .form-control {
        width: max-content;
    }

    .form-input {
        padding: 0.8rem 0.6rem;
        min-width: 30ch;

    }

    .form-button {
        padding-block: 0.4rem;
        width: max(12ch, 35%);
        align-self: center;
    }
}

@media only screen and (min-width: 866px) {
    .header-container {
        background-image: url(./assets/Path\ 152x.png);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-height: max-content;
        padding-bottom: 145px;
    }

    .main-header {
        font-size: 5.375rem;
        padding-top: 180px;
    }

    .sub-header {
        font-size: 1.25rem;
        padding-top: 1.375rem;
        margin-bottom: 8ex;
    }

    .form-container {
        margin-top: 8ex;
        display: flex;
        justify-content: space-around;
        gap: 0.8rem;
        margin-bottom: 180px;
    }

    .form-control {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .form-input {
        min-width: 418px;
        padding: 0.5rem;
        height: 50px;
    }

    .form-button {
        min-width: 10rem;
        height: 50px;
        align-self: center;
    }
}